#graphs {
	padding-left: 140px;
	padding-right: 140px;
	padding-top: 10vh;
	background-color:#EFEFEF; 
	box-shadow: 0px 3px 10px rgba(0,0,0,0.16);
	box-sizing: border-box;
	left: 0px;
	width: 100%;
	height: 88vh;
	margin-top: -5vh;
}

#graphArea {
	display: flex;
}

#perDay {
	width: 40vw;
}

#total {
	width: 15vw;
}