#loginRegister {
	background-color: #EFEFEF;
	padding-left: 140px;
	padding-right: 140px;
	margin-top: -50px;
	padding-top: 100px;
	padding-bottom: 50px;
	height: 100vh;
	display: flex;
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	z-index: -1;
}

#login, #register {
	width: 45%;
}

.error {
	color: #EB6256;
	margin-left: 50px;
	display: block;
}