.Button {
	background-color: #5AA361;
	padding: 15px 25px;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.16), -3px -3px 6px rgba(255,255,255,0.86);
	transition: 0.5s;
	width: 250px;
	text-align: center;
}

.Button a {
	color: white;
	text-decoration: none;
	font-size: 30px;
}

.Button:hover {
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2), -3px -3px 6px rgba(255,255,255,0.86);
	background-color: #529258;
}

#right {
	float: right;
	margin-top: 7px;
}

#center {
	margin: auto;
}