.Button {
	background-color: #5AA361;
	color: white;
	text-decoration: none;
	padding: 15px 25px;
	font-size: 30px;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.16), -3px -3px 6px rgba(255,255,255,0.86);
	transition: 0.5s;
}

.Button:hover {
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2), -3px -3px 6px rgba(255,255,255,0.86);
	background-color: #529258;
}