#insights {
	width: 40%;
	margin-left: 140px;
	margin-top: 50px;
	margin-bottom: 50px;
	float: left;
	height: 35vh;
}

.negative {
	color: #EB6256;
}

.positive {
	color: #59A160;
}

.neutral {
	color: rgb(103, 103, 103);
}