html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Corbel', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-weight: 500;
  font-size: 25px;
}

h3 {
  font-weight: 500;
  font-size: 22px;
}

p, li {
  font-weight: 100;
  font-size: 22px;
  line-height: 40px;
  list-style: none;
  margin: 0px;
}

.melonList li::before {
  content: '';
  background-image: url('../src/img/list-icon.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 30px;
  height: 22px;
  display: inline-block;
  margin-bottom: -7px;
  margin-right: 10px;
  margin-left: -40px;
}

.smallText {
  font-size: 15px;
  line-height: 22px;
}

input {
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}

/* tooltip based on  https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 25px;
  color: #676767;
  cursor: help;

  display: inline-block;
	margin-left: 20px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 18px;
  font-weight: 500;
  width: 350px;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
  margin-left: 5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}